@use '@styles/utils';

@mixin base {
	--background-color: rgb(var(--color-accent-primary));

	@include utils.flex-center(true);
	@include utils.base-animation(background-color, opacity);

	padding: 5px 20px;
	min-height: 40px;
	min-width: 218px;
	text-align: center;
	border-radius: 10px;
	background-color: var(--background-color);

	&:not(:disabled) {
		@include utils.hover {
			--background-color: rgb(var(--color-accent-secondary));
		}
	}

	&:disabled {
		opacity: 0.8;
	}
}

@mixin base-small {
	font-size: 14px;
	min-height: 30px;
	min-width: initial;
	padding: 4px 14px;
	border-radius: 8px;
}

@mixin base-border {
	--background-color: transparent !important;
	--border-color: rgb(var(--color-border-primary));
	--color-text: rgb(var(--color-text-secondary));

	@include utils.base-animation(color, background-color, border-color);

	border: 1px solid var(--border-color);
	color: var(--color-text);

	&:not(:disabled) {
		@include utils.hover {
			--border-color: rgb(var(--color-border-secondary));
			--color-text: rgb(var(--color-border-secondary));
		}
	}
}

@mixin base-delete {
	--background-color: rgb(var(--color-attention-primary));

	&:not(:disabled) {
		@include utils.hover {
			--background-color: rgb(var(--color-attention-secondary));
		}
	}
}
