@use '@styles/utils';

.label {
	display: inline-flex;
	align-items: flex-start;
	column-gap: 12px;
	max-width: 100%;
}

.field {
	@include utils.visually-hidden;
}

.emulator {
	--opacity: 1;
	--background-color: transparent;
	--border-color: rgb(var(--color-border-primary));

	@include utils.base-animation(background-color, border-color, opacity);
	@include utils.square(22px);

	position: relative;
	border: 1px solid var(--border-color);
	background-color: var(--background-color);
	border-radius: 4px;
	flex-shrink: 0;
	opacity: var(--opacity);

	&_loading {
		--opacity: 0.5;
	}

	&-marker {
		@include utils.base-animation(opacity);

		position: absolute;
		top: 50%;
		left: 50%;
		translate: -50% -50%;
		font-size: 17px;
		opacity: 0;
	}
}

.field:checked + .label .emulator .emulator-marker {
	opacity: 1;
}

.field[aria-invalid='true'] + .label .emulator {
	--border-color: rgb(var(--color-error));
}

.field:focus + .label .emulator {
	--border-color: rgb(var(--color-accent-primary));
	--background-color: rgba(var(--color-background-tertiary-light));
}

[data-theme='dark'] .field:focus + .label .emulator {
	--background-color: rgba(var(--color-background-secondary));
}

.description {
	margin: auto 0;
	font-size: 14px;
	color: rgb(var(--color-text-secondary));
	word-wrap: break-word;
}

.checkbox {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&_center {
		align-items: center;
	}

	&_through .field:checked + .label .emulator + .description {
		text-decoration: line-through;
	}
}
