@use '@styles/utils';

.button {
	--color: rgb(var(--color-text-quaternary));
	--opacity-icon: 1;
	--color-icon: rgba(var(--color-text-quaternary), var(--opacity-icon));

	@include utils.base-animation(color);

	display: flex;
	align-items: center;
	column-gap: 18px;
	font-weight: 300;
	font-size: var(--font-size);
	padding: var(--padding-x) 0;
	color: var(--color);

	&:not(:disabled) {
		@include utils.hover {
			--color: rgb(var(--color-text-primary));
			--color-icon: rgba(var(--color-text-primary), var(--opacity-icon));
		}
	}

	&:disabled {
		opacity: 0.8;
	}
}

.wrapper {
	--font-size: 20px;
	--padding-x: 5px;

	&_small {
		--font-size: 14px;

		.button {
			--opacity-icon: 0.7;

			column-gap: 11px;
		}
	}
}

.skeleton {
	max-width: 150px;
	padding: var(--padding-x) 0;
	font-size: var(--font-size);
	line-height: initial;
}

.icon {
	@include utils.base-animation(color);

	color: var(--color-icon);
}
