@use '@styles/utils';

.container {
	position: relative;
	z-index: 100;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: rgba(var(--color-overlay-primary), 0.2);
}

.overlay,
.container,
.modal {
	animation-fill-mode: forwards !important;
}

.root {
	position: fixed;
	z-index: 1000;

	&:not(&_dialog) {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&_dialog {
		display: inline-flex;

		.container {
			width: 100%;
		}

		.modal {
			width: 100%;
			padding: 18px;
			border-radius: 20px;
			background-color: rgb(var(--color-background-tertiary));
			border: 1px solid rgb(var(--color-border-tertiary));
		}
	}

	&_popup {
		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px 0;
			overflow: auto;
			height: 100%;
		}

		.modal {
			position: relative;
			z-index: 100;
			width: 100%;
			max-width: 430px;
			margin: auto;
			padding: 45px 24px;
			border-radius: 20px;
			background-color: rgb(var(--color-background-tertiary));

			@include utils.mobile-l {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}

	&_full {
		.container {
			width: 100%;
			height: 100%;
		}

		.modal {
			overflow: auto;
			height: 100%;
		}
	}

	&_dialog .overlay {
		display: none;
	}
}

.close {
	position: absolute;
	top: 2px;
	right: 2px;
}

.title {
	margin-bottom: 40px;
	text-align: center;
}

.buttons {
	display: flex;
	flex-direction: column;
	row-gap: 12px;
}

.description {
	line-height: 1.4;
	text-align: center;
	color: rgb(var(--color-text-secondary));
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(-101%);
	}

	100% {
		transform: translateX(0);
	}
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-101%);
	}
}
