@use '@styles/utils';

.body {
	padding: 13px 42px 70px;
	border: 1px solid rgb(var(--color-border-primary));
	border-radius: 30px;
	height: 100%;

	@include utils.mobile-l {
		padding: 18px 16px 60px;
		border-radius: 20px;
	}
}

.title {
	margin-bottom: 21px;
}
