@use '@styles/utils';

.profile {
	--breakpoint-hidden-menu: #{utils.$tablet-l};

	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding-top: var(--section-padding-y);
	padding-bottom: var(--section-padding-y);
}

.body {
	display: flex;
	align-items: flex-start;
	column-gap: 29px;
	flex-grow: 1;

	@include utils.tablet-l {
		grid-template-columns: minmax(0, 1fr);
	}
}

.sidebar {
	display: flex;
	position: sticky;
	top: var(--section-padding-y);
	min-height: calc(100svh - (var(--section-padding-y) * 2));

	@include utils.tablet-l {
		display: none;
	}
}

.sidebar-dialog {
	&-container {
		display: inline-flex;
	}
}

.page {
	flex-grow: 1;
}

.head {
	--margin-top: 6px;

	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 18px 20px;
	margin-bottom: 36px;

	@include utils.tablet-l {
		--margin-top: 4px;
	}

	@include utils.mobile-l {
		--margin-top: 1px;

		flex-direction: column;
		align-items: flex-start;
	}
}

.main {
	display: flex;
	align-items: flex-start;
	column-gap: 16px;

	@include utils.mobile-l {
		width: 100%;
		justify-content: space-between;
		column-gap: 14px;
	}
}

.title {
	display: flex;
	align-items: flex-start;
	gap: 10px 19px;

	@include utils.mobile-l {
		flex-wrap: wrap;
		column-gap: 12px;
	}
}

.quantity {
	@include utils.flex-center(true);

	padding: 3px 7px;
	min-height: 28px;
	min-width: 52px;
	margin-top: var(--margin-top);
	font-size: 16px;
	line-height: 1;
	border: 1px solid rgb(var(--color-border-primary));
	border-radius: 100px 50px 100px 100px;
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-top: var(--margin-top);
	flex-shrink: 0;
}

.buttons > * {
	flex-grow: 1;
}

.quantity-skeleton {
	flex-grow: 1;
}

.burger {
	@include utils.tablet-l-above {
		display: none;
	}

	@include utils.mobile-l {
		order: 1;
	}
}
