.fields {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	margin-bottom: 25px;
}

.error {
	margin-top: 16px;
	text-align: center;
}

.buttons {
	display: flex;
	flex-direction: column;
	row-gap: 18px;
}
