@use '@styles/utils';

.event {
	--text-decoration: none;

	display: inline-flex;
	align-items: center;
	padding: 0 8px;
	max-width: 100%;
	font-size: 12px;
	background-color: rgb(var(--color-highlight-background-first));
	border-radius: 30px;
	color: rgb(var(--color-text-secondary));

	&_done {
		text-decoration: line-through;
	}

	@include utils.hover {
		--text-decoration: underline;
	}
}

.body {
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration-skip-ink: none;
	text-decoration: var(--text-decoration);
}

.title {
	font-weight: 600;
}
