@use '@styles/utils';

.button {
	--background-color: rgb(var(--color-accent-primary));

	@include utils.flex-center(true);
	@include utils.base-animation(background-color);

	padding: 5px 20px;
	min-height: var(--min-height);
	min-width: 218px;
	text-align: center;
	border-radius: var(--border-radius);
	background-color: var(--background-color);

	&:not(:disabled) {
		@include utils.hover {
			--background-color: rgb(var(--color-accent-secondary));
		}
	}

	&_medium {
		min-width: initial;
	}

	&_small {
		position: relative;
		font-size: 14px;
		min-width: initial;
		padding: 4px 14px;
	}

	&_border {
		--border-width: 1px;
		--background-color: transparent !important;
		--border-color: rgb(var(--color-border-primary));
		--color-text: rgb(var(--color-text-secondary));

		@include utils.base-animation(color, border-color, opacity);

		border: var(--border-width) solid var(--border-color);
		color: var(--color-text);

		&:not(:disabled) {
			@include utils.hover {
				--border-color: rgb(var(--color-border-secondary));
				--color-text: rgb(var(--color-border-secondary));
			}
		}
	}

	&_delete {
		--background-color: transparent !important;
		--border-color: rgb(var(--color-attention-primary));
		--color-text: rgb(var(--color-attention-primary));

		@include utils.base-animation(color, border-color, opacity);

		border: 1px solid var(--border-color);
		color: var(--color-text);

		&:not(:disabled) {
			@include utils.hover {
				--border-color: rgb(var(--color-attention-secondary));
				--color-text: rgb(var(--color-attention-secondary));
			}
		}
	}
}

.wrapper {
	--skeleton-max-width: 218px;
	--min-height: 40px;
	--border-radius: 10px;

	&_small {
		--min-height: 30px;
		--border-radius: 8px;
	}

	&_medium {
		--min-height: 38px;
	}

	&_full {
		--skeleton-max-width: initial;

		width: 100%;

		.button {
			width: 100%;
			min-width: initial;
		}
	}
}

.skeleton {
	height: var(--min-height);
	border-radius: var(--border-radius);

	&:not(&_full) {
		max-width: var(--skeleton-max-width);
	}
}
