.authorization {
	width: 100%;
	max-width: 300px;
}

.form {
	margin-bottom: 40px;
}

.title {
	margin-bottom: 32px;
}

.login-socials {
	margin-bottom: 26px;
}

.registration {
	text-align: center;
}
