@use '@styles/shared/field';

.body {
	position: relative;
}

.field {
	@include field.base;

	&_icon {
		padding-right: 48px;
	}
}

.skeleton {
	height: 38px;
	border-radius: 8px;
}

.button {
	position: absolute;
	top: 50%;
	right: 8px;
	translate: 0 -50%;
}
