@use '@styles/shared/field';

.body {
	position: relative;
}

.field {
	@include field.base;

	&_icon {
		padding-right: 30px;
	}
}

.button {
	position: absolute;
	top: 50%;
	right: 0;
	translate: 0 -50%;
}
