@use '@styles/shared/spinner';
@use '@styles/utils';

.button-wrapper {
	--min-height: 40px;
	--border-radius: 10px;

	&_small {
		--min-height: 30px;
		--border-radius: 8px;
	}
}

.skeleton {
	height: var(--min-height);
	border-radius: var(--border-radius);
}

.spinner {
	@include spinner.base(16px);
}

.button {
	--background-color: rgb(var(--color-accent-primary));

	@include utils.flex-center(true);
	@include utils.base-animation(background-color, opacity);

	padding: 5px 20px;
	min-height: var(--min-height);
	min-width: 218px;
	text-align: center;
	border-radius: var(--border-radius);
	background-color: var(--background-color);

	&:not(:disabled) {
		@include utils.hover {
			--background-color: rgb(var(--color-accent-secondary));
		}
	}

	&:disabled {
		opacity: 0.8;
	}

	&:not(&_small) {
		.body {
			position: relative;
			padding: 0 25px;
		}

		.spinner {
			position: absolute;
			top: 50%;
			right: 0;
			translate: 0 -50%;
		}
	}

	&_medium-short {
		--min-height: 38px;

		min-width: initial;
	}

	&_full {
		width: 100%;
	}

	&_small {
		position: relative;
		font-size: 14px;
		min-width: initial;
		padding: 4px 14px;

		.spinner-wrapper {
			@include utils.flex-center(true);

			position: absolute;
			inset: calc(var(--border-width, 0) * -1);
			background-color: rgba(var(--color-background-primary), 0.3);
			color: rgb(var(--color-text-primary));
		}
	}

	&_border {
		--border-width: 1px;
		--background-color: transparent !important;
		--border-color: rgb(var(--color-border-primary));
		--color-text: rgb(var(--color-text-secondary));

		@include utils.base-animation(color, border-color, opacity);

		border: var(--border-width) solid var(--border-color);
		color: var(--color-text);

		&:not(:disabled) {
			@include utils.hover {
				--border-color: rgb(var(--color-border-secondary));
				--color-text: rgb(var(--color-border-secondary));
			}
		}
	}

	&_delete {
		--background-color: transparent !important;
		--border-color: rgb(var(--color-attention-primary));
		--color-text: rgb(var(--color-attention-primary));

		@include utils.base-animation(color, border-color, opacity);

		border: 1px solid var(--border-color);
		color: var(--color-text);

		&:not(:disabled) {
			@include utils.hover {
				--border-color: rgb(var(--color-attention-secondary));
				--color-text: rgb(var(--color-attention-secondary));
			}
		}
	}
}
