@use '@styles/shared/buttons';
@use '@styles/shared/spinner';
@use '@styles/utils';

.spinner {
	@include spinner.base(16px);
}

.button {
	@include buttons.base;

	&_full {
		width: 100%;
	}

	&:not(&_small) {
		.body {
			position: relative;
			padding: 0 25px;
		}

		.spinner {
			position: absolute;
			top: 50%;
			right: 0;
			translate: 0 -50%;
		}
	}

	&_small {
		@include buttons.base-small;
	}

	&_border {
		@include buttons.base-border;
	}

	&_delete {
		@include buttons.base-delete;
	}
}
