@use '@styles/utils';

.calendar {
	:global {
		.react-datepicker {
			--padding-header-y: 8px;
			--padding-inner: 6px;
			--columns: 7;
			--width-content: auto;

			width: 100%;
			border-radius: 20px;
			overflow: hidden;
			border: 1px solid rgb(var(--color-border-primary));

			@include utils.mobile-l {
				--width-content: 700px;
			}

			&__header {
				position: static;
				padding: var(--padding-header-y) 0;
				background-color: rgb(var(--color-background-secondary));

				@include utils.mobile-l {
					padding-top: calc(19px + var(--padding-header-y));
					width: var(--width-content);
				}
			}

			&__navigation {
				--size: 32px;
				--border-color: rgb(var(--color-border-primary));

				@include utils.hover {
					--border-color: rgb(var(--color-text-tertiary));
				}

				top: 3px;
				width: var(--size);
				height: var(--size);
				border-radius: 50%;

				&--previous {
					left: 3px;
				}

				&--next {
					right: 3px;
				}

				&-icon {
					font-size: var(--size);
					line-height: 1;
				}

				&-icon::before {
					@include utils.base-animation(border-color);

					position: absolute;
					top: 50%;
					left: 50%;
					translate: -50% -50%;
					width: 10px;
					height: 10px;
					border-width: 2px 2px 0 0;
					border-color: var(--border-color) !important;
				}
			}

			&__current-month {
				font-size: 16px;
				font-weight: 500;
				text-transform: capitalize;

				@include utils.mobile-l {
					position: absolute;
					top: var(--padding-header-y);
					left: 50%;
					translate: -50% 0;
					margin-bottom: 0;
				}
			}

			&__month-container {
				width: 100%;

				@include utils.mobile-l {
					overflow: auto;
				}
			}

			&__day-names {
				display: grid;
				grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
				margin-bottom: 0;
				font-size: 12px;
				font-weight: 300;
				margin-top: 12px;
			}

			&__day-name {
				width: auto;
				margin: 0;
				padding: 0 var(--padding-inner);
				line-height: inherit;
				text-transform: capitalize;
			}

			&__month {
				margin: 0;

				@include utils.mobile-l {
					width: var(--width-content);
				}
			}

			&__week {
				display: grid;
				grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
				white-space: normal;

				&:not(:last-child) {
					border-bottom: 1px solid rgb(var(--color-border-primary));
				}
			}

			&__day {
				--background-color: transparent;

				text-align: left;
				width: auto;
				margin: 0;
				padding: var(--padding-inner);
				border-radius: 0 !important;
				line-height: inherit;
				background-color: var(--background-color) !important;
				cursor: default;
				font-weight: inherit;

				&--today {
					--background-color: rgb(var(--color-highlight-background-third));
				}

				&:not(:last-child) {
					border-right: 1px solid rgb(var(--color-border-primary));
				}
			}
		}
	}
}
