@use '@styles/utils';

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.legend {
	font-size: 14px;
	margin-bottom: 12px;
}

.label {
	--background-color: rgb(var(--color-background-sixth));
	--border-color: var(--background-color);
	--color-text: rgb(var(--color-text-quaternary));

	@include utils.base-animation(color, background-color, border-color);

	display: flex;
	align-items: center;
	column-gap: 10px;
	min-height: 28px;
	padding: 5px 12px;
	border-radius: 30px;
	border: 1px solid var(--border-color);
	color: var(--color-text);
	background-color: var(--background-color);
}

.checkbox {
	@include utils.visually-hidden;

	&:not(:checked) + .label {
		@include utils.hover {
			background-color: rgb(var(--color-accent-quaternary));
		}
	}
}

.checkbox:checked + .label {
	--color-text: rgb(var(--color-text-primary));
	--background-color: rgb(var(--color-accent-fifth));
}

.checkbox:focus + .label {
	--border-color: rgb(var(--color-accent-primary));
}

.name {
	font-size: 14px;
}
