@use '@styles/utils';

.tags {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.legend {
	font-size: 16px;
	margin-bottom: 12px;
	color: rgb(var(--color-text-tertiary));
}

.item {
	--min-height-item: 28px;
	--border-radius-item: 30px;
}

.label {
	--background-color: rgb(var(--color-background-sixth));
	--border-color: var(--background-color);
	--color-text: rgb(var(--color-text-quaternary));

	@include utils.base-animation(color, background-color, border-color);

	display: flex;
	align-items: center;
	column-gap: 10px;
	min-height: var(--min-height-item);
	max-width: 250px;
	padding: 5px 12px;
	border-radius: var(--border-radius-item);
	border: 1px solid var(--border-color);
	color: var(--color-text);
	background-color: var(--background-color);
}

.name {
	font-size: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.skeleton {
	height: var(--min-height-item);
	width: 60px;
	border-radius: var(--border-radius-item);
}

.checkbox {
	@include utils.visually-hidden;

	&:not(:checked) + .label {
		@include utils.hover {
			background-color: rgb(var(--color-accent-quaternary));
		}
	}
}

.checkbox:checked + .label {
	--color-text: rgb(var(--color-text-primary));
	--background-color: rgb(var(--color-accent-fifth));
}

.checkbox:focus + .label {
	--border-color: rgb(var(--color-accent-primary));
}
