.book {
	display: flex;
	align-items: center;
	height: 100%;
	padding: var(--section-padding-y) 0;
	background-color: rgb(var(--color-background-quaternary));
}

.inner {
	--border-radius: 40px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 25px;
}

.image {
	overflow: hidden;
	border-radius: var(--border-radius);

	&-img {
		background-color: rgb(var(--color-background-secondary));
	}
}

.body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 30px;
	border-radius: var(--border-radius);
	background-color: rgb(var(--color-background-tertiary));
}
