@use '@styles/utils';
@use '@styles/shared/spinner';

.book {
	display: flex;
	align-items: center;
	height: 100%;
	padding: var(--section-padding-y) 0;
	background-color: rgb(var(--color-background-quaternary));
}

.wrapper {
	@include utils.tablet-l {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
	}
}

.inner {
	--border-radius: 40px;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 25px;

	@include utils.tablet-l {
		--border-radius: 0;

		grid-template-columns: 1fr;
		margin: 0 calc(var(--container-padding-x) * -1);
		overflow: hidden;
		border-radius: 30px;
	}

	@include utils.mobile-l {
		border-radius: 25px;
	}
}

.image {
	position: relative;
	overflow: hidden;
	border-radius: var(--border-radius);

	&-img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		background-color: rgb(var(--color-background-secondary));

		@include utils.tablet-l {
			aspect-ratio: 2;
			height: auto;
		}

		@include utils.mobile-l {
			aspect-ratio: 1.8;
		}
	}
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	border-radius: var(--border-radius);
	background-color: rgb(var(--color-background-tertiary));
}

.body-inner {
	display: flex;
	justify-content: center;
	padding: 80px 30px;

	@include utils.tablet-l {
		padding: 45px 30px;
	}

	@include utils.mobile-l {
		padding: 35px var(--container-padding-x);
	}
}

.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-top: 1px solid rgb(var(--color-border-primary));

	@include utils.tablet-l {
		position: static;
		margin-top: 10px;
	}
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px 15px;
	padding: 24px 30px;

	&-link {
		--color-text: rgb(var(--color-text-secondary));

		@include utils.base-animation(color);

		font-size: 14px;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--color-text);

		@include utils.hover {
			--color-text: rgb(var(--color-text-primary));

			text-decoration: none;
		}
	}
}

.main {
	position: relative;
	width: 100%;
	max-width: 330px;
}

.spinner-wrapper {
	display: flex;
	justify-content: center;
	margin: 40px auto;
}

.spinner {
	@include spinner.base(40px);
}

.link-wrapper {
	margin-top: 26px;

	&_center {
		display: flex;
		justify-content: center;
	}
}

.title {
	margin-bottom: 32px;
}
