@use '@styles/utils';

.list {
	--padding-x: 11px;
}

.task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: 10px;
	padding: var(--padding-x) 13px;
	border-bottom: 1px solid rgb(var(--color-border-primary));

	@include utils.mobile-l {
		padding-left: 0;
		padding-right: 0;
	}
}

.button {
	margin-top: 28px;
}

.skeleton {
	padding: var(--padding-x) 0;
}

.item:first-child {
	.task,
	.skeleton {
		padding-top: 0;
	}
}
