.form {
	margin-bottom: 25px;
}

.login-socials {
	margin-bottom: 26px;
}

.registration {
	text-align: center;
}

.policy {
	display: block;
	font-size: 14px;
	line-height: 1.4;
	margin-bottom: 32px;
	color: rgb(var(--color-text-secondary));
	text-align: center;
}
