@use '@styles/utils';

.container {
	margin: 0 auto;
	padding: 0 var(--container-padding-x);
	max-width: calc(var(--container-width) + (var(--container-padding-x) * 2));
	width: 100%;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.section {
	&:not(:first-child) {
		padding-top: var(--section-padding-y);
	}

	&:not(:last-child) {
		padding-bottom: var(--section-padding-y);
	}
}

.section .section {
	padding: 0;
}

.link {
	@include utils.base-animation(color);

	text-decoration: underline;
	text-decoration-skip-ink: none;

	@include utils.hover {
		text-decoration: none;
		color: rgb(var(--color-text-secondary));
	}
}

.h1 {
	font-size: 36px;
	font-family: var(--font-secondary);

	@include utils.tablet-l {
		font-size: 32px;
	}

	@include utils.mobile-l {
		font-size: 28px;
	}
}

.h2 {
	font-size: 32px;
	font-family: var(--font-secondary);

	@include utils.tablet-l {
		font-size: 28px;
	}

	@include utils.mobile-l {
		font-size: 24px;
	}
}

.h3 {
	font-size: 15px;
	font-family: var(--font-secondary);
}

.text {
	line-height: 1.6;

	h1,
	h2 {
		padding: 10px 0;
	}

	h1 {
		font-size: 36px;
		font-family: var(--font-secondary);

		@include utils.tablet-l {
			font-size: 32px;
		}

		@include utils.mobile-l {
			font-size: 28px;
		}
	}

	h2 {
		font-size: 22px;
		font-family: var(--font-secondary);

		@include utils.mobile-l {
			font-size: 20px;
		}
	}

	a {
		@include utils.base-animation(color);

		text-decoration: underline;
		text-decoration-skip-ink: none;

		@include utils.hover {
			text-decoration: none;
			color: rgb(var(--color-text-secondary));
		}
	}

	ul,
	ol {
		padding: 0.5em 0;
	}

	p {
		padding: 0.3em 0;
	}
}
