:root {
	--container-width: 1185px;
	--container-padding-x: 30px;
	--section-padding-y: 57px;

	// font

	--font-base: 'Noto Sans', sans-serif;
	--font-secondary: 'Oswald', sans-serif;

	// colors

	--color-text-primary: 0, 0, 0;
	--color-background-primary: 255, 255, 255;
}
